{% extends "back/base.html.twig" %}
{% block title %}
	Confirmation Email
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('CSS/feedback.css') }}"/>
	<h1 class="title">Merci
	</h1>
	<h2 class='title'>
		Merci d'avoir confirmer votre email</h2>
	<div class="balloon"></div>
	<div class="balloon1"></div>
	<div class="balloon2"></div>
{% endblock %}
