<h1>Merci de clicquer sur le lien dessous pour confirmer votre email adresse
</h1>


{# <a href="url" target="_blank">{{url}}</a> #}
<input type="image" src="{{ url }}" target="_blank" name="submit" width="100" height="48" alt="Click here"/>
