{% extends 'back/base.html.twig' %}

{% block title %}
	Nouvelle Chambre
{% endblock %}
{% block body %}
	<h1 class='title'>Ajouter une nouvelle Chambre</h1>

	<link rel="stylesheet" href="{{ asset('CSS/room.css') }}"/>

	{{ include('back/room/_form.html.twig') }}


{% endblock %}
