body {
    background-image: url("../Img/noise.png");
    background-repeat: repeat;
}

.logo {
    width: 150px;
    height: 101px;
    margin-top: -69px;
    padding-top: 32px;
    border-radius: 50%;
}

.reservation {
    margin-top: 200px;
    width: 112px;
    height: 49px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 54px;
    margin: 10px;
    justify-content: space-around;
}

.nav-link {
    color: #1a1a1a;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}