/* body {
    /* background-image: url("../Img/noise.png"); */
    /* background-repeat: repeat; */
/*}*/ 

.logo {
    width: 150px;
    height: 101px;
    margin-top: -69px;
    padding-top: 32px;
    border-radius: 50%;
}

.reservation {
    margin-top: 200px;
    width: 112px;
    height: 49px;
}

.nav-bar {
    display: flex;
   
    list-style: none;
    padding: 54px;
    margin: 10px;
    justify-content: space-around;
}

.nav-link {
    color: #1a1a1a;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

div.lungta{
    
   display:flex;
   width: fit-content;
 position: relative;
 height:auto;
   overflow: hidden;
   margin-left:50px;
}
/* .img_block{
    object-fit: contain;
} */

.lungta_img{

    width: 40px;
    height: 35px;
    margin-top: 30px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #FFF;
    font-size: .8em;
    /* animation: tictac 2s infinite ease-in-out; */
    animation-name: tictac;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
    z-index: 30;
}

@keyframes tictac {
    0%,
    100% {
        background-color: #333;
        transform: skewY(-5deg);
        margin-right: 5px;
        margin-left:5px;
    }
    50% {
        transform: skewY(5deg);
        margin-right:5px;
        margin-left:5px;
        background-color: #833;
    }
    /* 100% {
        background-color: #333;
        transform: rotate(-5deg);
        margin-right: 13px;
    } */
}





@media (min-width: 500px) and (max-width:700px) {
  body{
      color: aqua;
  }
    .lungta_img {
        width: 5px;
        height: 5px;
  
      }
}
@media (min-width: 700px) and (max-width:900px) {
    body{
        color:bisque; 
    }
    .lungta_img {
        width: 13px;
        height: 13px;
  
      }
}

@media (min-width: 900px) and (max-width:1100px) {
    body{
        color:brown;
    }
    .lungta_img {
        width: 18px;
        height: 22px;
  
      }
}

@media (min-width: 1100px) and (max-width:1180px) {
  
    body{
        color: rgb(187, 255, 0);
    }
    .lungta_img {
        width: 28px;
        height: 30px;
  
      }
}

  
@media (min-width: 1180px) and (max-width:1397px) {
    body{
        background-color: rgb(0, 64, 255);
    }
    .lungta_img {
        width: 31px;
        height: 35px;
  
      }
}

@media(min-width:1397px){
    .lungta_img{
        width: 40px;
    height: 35px;
    }
    
}