@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --font-size: 20px;
    --font-color: black;
    --font-family: 'Montserrat', sans-serif;
}

body{
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: var(--font-family);
  
        height: 100%;
        margin: 1;
      
 
        
}

.section-top {
    margin-top: -503px;
}

.recap{
    display: flex;
}
.description{
    margin-top: 138px;
    margin-left: 333px;
    text-align: center;
    max-width: 500px;
    height: auto;
    padding: 10px;
    color: white;
    background-color: black;
    transform: translateX(-50%) translateY(-50%) skew(5deg);

}
.payment_form{
    max-width:900px;
    padding:20px;
    margin:0 auto;
}

.recap_details1{
    border: 1px solid black;
    margin-top: 142px;
    margin-left: 300px;
    max-width: 500px;
    transform: translateX(-50%) translateY(-50%) skew(5deg);

}

.recap_details2{
    border: 1px solid black;
    margin-top: 142px;
    margin-left: 167px;
    max-width: 500px;
    transform: translateX(-50%) translateY(-50%) skew(5deg);

}
