@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --font-size: 20px;
    --font-color: black;
    --font-family: 'Montserrat', sans-serif;
}

body{
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: var(--font-family);
  
        height: 100%;
        margin: 1;
      
 
        
}

.section-top {
    margin-top: -503px;
}

.recap{
    display: flex;
}