.search_body{
    background-image: url("https://images.unsplash.com/photo-1597634285596-01fd1bffe116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-repeat: no-repeat;
    background-size: cover; 
}
.insider{
    padding: 150px;
}
.title {
    text-align: center;
}
.caps{
    text-decoration: underline;
    text-transform: capitalize;
}
.search-form {
    /* display: flex; */
    display: block;
    padding: 32px;
    border: 1px solid;
    justify-content: space-evenly;
   line-height: 35px;
    /* align-items: center;
    margin-top: 75px;
    flex-wrap: wrap; */
    transform: translateX(-50%) translateY(-50%) skew(10deg);
    background-color: black;
    margin-top:180px;
    margin-left:150px;
    border-top-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
}
.updateBG{
    background-image: url(https://images.unsplash.com/photo-1597634285596-01fd1bffe116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.update{
    margin-top: 220px;
    margin-left:280px;
}

.new{
    display: flex;
    margin: 0 auto;
    transform: translateX(0%) translateY(-31%) skew(10deg);
}

input, select#search_NoAdult,select#search_NoEnfant, textarea#search_SpecialDemande, select#reservation_NoAdult, select#reservation_NoEnfant, textarea#reservation_SpecialDemande{
    width: 180px;
}
.btn-reserver {
    background-color: #c73940;;
    padding: 5px;
    margin:5px;
    border-radius: 10px;
    text-align: center;
}

/* .hideError {
    display: none;
    list-style: none;
} */

.search-form ul:first-child {
    display: none;
}

.search-tag {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: column; */
    padding-bottom: 250px;
}

.error-msg {
    color: red;
}

.main_container{
    /* background-image: url("https://images.unsplash.com/photo-1623128201039-faeb81209656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat; */
 background-size: cover;
}

.alertMsg{
color: white;
margin: 0 auto;
text-align: center;
font-weight:bold;
border: 1px solid red;
max-width: 60%;
align-self: center;
border-radius: 5px;
background-color: red;
}