

.form {
    width: 80%;
    margin: 20px; 
  
    padding: 20px;
    letter-spacing: 5px;
  }
  
.form_row label{
 
    text-align: center;
    padding: 10px;
   
}

/* To hide the default location of error msg. */
.form_row ul:first-child{
    display: none;
    list-style: none;
}

.form_row input{
    float: right;
    display: flex;
}
.form_row textarea{
    float: right;
}
.form-container{
     margin: 0 auto;
     display: inline-block;
}
.form_input{
    display: grid;
}

.error-msg {
    color: red;
}

.btn-confirmer {
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    float: center;
}

.user_form{
    display: flex;
    margin: 0 auto;
    position: absolute;
    width:90%;
    height: 90%;
    left: 30%;
      top: 5%;
}