

.form {
    width: 80%;
    margin: 20px; 
  
    padding: 20px;
    letter-spacing: 5px;
  }
  
.form_row label{
 
    text-align: center;
    padding: 10px;
   
}

.form_row input{
    float: right;
}
.form_row textarea{
    float: right;
}
.form-container{
     margin: 0 auto;
     display: inline-block;
}


.error-msg {
    color: red;
}

.btn-confirmer {
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    float: center;
}

.user_form{
    display: flex;
    margin: 0 auto;
    position: absolute;
    width:90%;
    height: 90%;
    left: 30%;
      top: 5%;
}