{% extends "back/base.html.twig" %}
{% block title %}
	Merci
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('CSS/feedback.css') }}"/>
	<h1 class="title">Merci pour votre feedback</h1>
	<h2 class='title'>
		Ca nous aide a ameliorer notre entreprise !!!</h2>
		<div class="balloon">
  </div>
  <div class="balloon1">
  </div>
  <div class="balloon2">
  </div>
{% endblock %}
