{% extends "back/base.html.twig" %}
{% block title %}
	Merci
{% endblock %}
{% block body %}
	<h1 class="title">Merci pour votre feedback</h1>
	<h2 class='title'>
		Ca nous aide a ameliorer notre entreprise !!!</h2>
{% endblock %}
