{% extends "front/base.html.twig" %}
{% block title %}
	Remboursement
{% endblock %}
{% block body %}
	
		<h1 class="title">Votre changement de reservation neccessite un rembousement</h1>
		<h2 class="title">Demander votre remboursement directement a reception des votre CheckIn svp !!!
		</h2>

{% endblock %}
