{% extends "front/base.html.twig" %}
{% block title %}
	Reservations
{% endblock %}
{% block body %}
	<h1 class="title">Vous n'avez pas de reservation en cours !!!</h1>
	<img class='img_disppointment'src="https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="disappointment">
{% endblock %}
