{% extends "base.html.twig" %}
{% block title %}
	Confirmation
{% endblock %}
{% block body %}
	<h1>Votre reservation est confirmé</h1>
	<h2>Voici les récapitulative de votre reservation</h2>

{% endblock %}
