<div class='fixedMenuContainer'>

    <div class='fixedMenu'>
        <a href='https://www.facebook.com/yega23' target='_blank'>
            <img src="{{ asset('Img/facebook.png') }}" class="img_slide" width="50" height="50"/>
        </a>
        <a href='https://www.instagram.com/prince.of.drewangsher/' target='_blank'>
            <img src="{{ asset('Img/instagram.png') }}" class="img_slide" width="50" height="50"/>
        </a>
        <a href='tel:+33 7 51 21 52 31' target='_blank' class='phoneNoSwipe'>
            <img src="{{ asset('Img/phone.png') }}" class="img_phone" width="50" height="50"/>
            <span class='phoneNo'>+33 7 51 21 52 31 </span>
    </a> 
        <a href='mailto:mdolma@ymail.com' target='_blank' class='emailSwipe'>
        <img src="{{ asset('Img/mail.png') }}" class="img_slide" width="50" height="50"/>
         <span class='email'>mdolma@ymail.com </span>
        </a>

    </div>
</div>