<nav>
	<div>

		<div>
			<ul class='nav-bar'>
				<li>
					<a class='nav-link' href="#"><img class='logo' src="{{ asset('./Img/logo.png') }}" alt='logo'/></a>
				</li>
				<li>
					<a class='nav-link' href="#">Accueil</a>
				</li>
				<li>
					<a class='nav-link' href="#">Chambre & Suite</a>
				</li>
				<li>
					<a class='nav-link' href="#">Offre Exceptionnelle</a>
				</li>
				<li>
					<a class='nav-link' href="#">Bar & Services</a>
				</li>
				<li>
					<a class='nav-link' href="#">Gallerie Photo</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
