{% extends "front/base.html.twig" %}

{% block title %}
    Invoice
{% endblock %}

{% block body %}
    <title>Title of the PDF</title>
     <h4>{{ title }}</h4>
        <p>Lorem Ipsum</p>
{% endblock %}
    