{% extends "front/base.html.twig" %}

{% block title %}
	Bar & Services

{% endblock %}
{% block body %}

	<link rel="stylesheet" href="{{ asset('CSS/barService.css') }}"/>
	<h1 class='title'>Bar Et Services !!!</h1>

	<div class="small_spacer"></div>

	<div class='room_detail_container'>
		<div class="grid_container">
			<div class='room_detail_slider'>

				<div class="img_slider">
					<span id="slide-1"></span>
					<span id="slide-2"></span>
					<span id="slide-3"></span>
					<div class="image-container-slider">

						<img src="https://images.unsplash.com/photo-1465014925804-7b9ede58d0d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" class="img_slide" width="1100" height="600"/>
						<img src="https://images.unsplash.com/photo-1535567465397-7523840f2ae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80" class="img_slide" width="1100" height="600"/>
						<img src="https://images.unsplash.com/photo-1560055932-595dab110124?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80" class="img_slide" width="1100" height="600"/>
					</div>
					<div class="buttons">
						<a href="#slide-1"></a>
						<a href="#slide-2"></a>
						<a href="#slide-3"></a>
					</div>

				</div>
			</div>

			<div class="detail">

				<div class="title_double">
					<h2>Notre
						<br>
						Petit Dejeurner<br><br>
					</h2>
				</div>

				<div class="icon_grid_container">
					<div class="icon_cell">
						<p class='p_detail'>

							Servi en chambre ou dans une salle prévue à cet effet, un petit déjeuner est proposé tous les jours de 7h à 10h30 sous forme de buffet.<br>
							Vous y trouverez une sélection de viennoiseries, céréales et jus de fruits frais. L’établissement sélectionne ses produits avec soin et propose des produits de qualité.<br>
							Générosité, goût et tradition : voici les maîtres mots du petit déjeuner de l’hôtel <b> Doenkhang </b>!!!
						</p>
					</div>
				</div>


			</div>

		</div>
	</div>

	<div class="mid_img">
		<img src="https://d2bgeod7rp3ucy.cloudfront.net/cache/img/hotel-belloy-service-60932-500-500-crop.jpg?q=1572427865" width="300" height="300" class='center_img'/>
	</div>
	<div class="spacer"></div>

	<div class='room_detail_container dir_reverse'>
		<div class="grid_container">
			<div class="detail1">

				<div class="title_double">
					<h2>Le
						<br>
						BAR
						<br><br>
					</h2>
				</div>

				<div class="icon_grid_container">
					<div class="icon_cell">
						<p class='p_detail'>

							A partir de 16h-23h, notre barman est à votre disposition pour vous servir en-cas, boissons et cocktails de la maison.
							<br>
							<br>Offrez-vous une pause gourmande bien méritée.
							<br><br>Entre la bibliothèque et la réception, vous serez charmés par l’atmosphère idyllique du lieu. Echappée romantique ou rendez-vous professionnel, le bar de l’hôtel <b>Doenkhang</b> est le lieu idéal pour se retrouver.
						</p>
					</div>
				</div>


			</div>
			<div class='room_detail_slider'>

				<div class="img_slider">
					<span id="slide-4"></span>
					<span id="slide-5"></span>
					<span id="slide-6"></span>
					<div class="image-container-slider">
						<img src="https://images.unsplash.com/photo-1468056961052-15507578a50d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" class="img_slide" width="1100" height="600"/>
						<img src="https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" class="img_slide" width="1100" height="600"/>
						<img src="https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img_slide" width="1100" height="600"/>

					</div>
					<div class="buttons">
						<a href="#slide-4"></a>
						<a href="#slide-5"></a>
						<a href="#slide-6"></a>
					</div>

				</div>
			</div>


		</div>
	</div>
{% endblock %}
