{% extends "front/base.html.twig" %}
{% block title %}
	Les Chambres
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('CSS/chambre.css') }}"/>

	<h1 class='title'>Beau Decouverte !!!</h1>
	{# <a href="" class='img_chambre'/>
																								<span class='img_span'></span> #}
	<div class="grid_container">


		<a href="{{ path('room_details')}}" class='grid_cell'>
			<span class='grid_middle' data-bg="rooms-chambre">
				<span class='grid_cell_center'>
					<h2 class="h2">Chambres</h2>
					<span class='ihm_btn_chambre swipe_left'>
						Decouvrir
					</span>
				</span>
			</span>
		</a>

		<a href="{{ path('room_suites')}}" class='grid_cell'>
			<span class='grid_middle1' data-bg="rooms-suites">
				<span class='grid_cell_center'>
					<h2 class="h2">Suites</h2>
					<span class='ihm_btn_chambre'>
						Decouvrir
					</span>
				</span>
			</span>
		</a>

	</div>


{% endblock %}
