{% extends "front/base.html.twig" %}
{% block title %}
	Les Chambres
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('CSS/chambre.css') }}"/>

	<h1 class='title'>Beau Decouverte !!!</h1>
	{# <a href="" class='img_chambre'/>
																					<span class='img_span'></span> #}
	<div class="grid_container">


		<a href="#" class='grid_cell'>
			<span class='grid_middle' data-bg="rooms-chambre">
				<span class='grid_cell_center'>
					<h2 class="h2">Chambres</h2>
					<span class='ihm_btn_chambre swipe_left'>
						Decouvrir
					</span>
				</span>
			</span>
		</a>

		<a href="#" class='grid_cell'>
			<span class='grid_middle1' data-bg="rooms-suites">
				<span class='grid_cell_center'>
					<h2 class="h2">Suites</h2>
					<span class='ihm_btn_chambre'>
						Decouvrir
					</span>
				</span>
			</span>
		</a>
		<a href='https://images.unsplash.com/photo-1621293954908-907159247fc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' class='grid_cell'></a>

	</div>


{% endblock %}
